* {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

body, html{
    display: flex;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items:  center;
    justify-items: center;
}

:root{
    --auction-leader-color: black;
    --grid-height-vh: 40vh;
    --grid-width-vh: 70vh;

    --grid-height-vw: 70vw;
    --grid-width-vw: 40vw;

    --boardgame-single-border: 1px solid black;
    --boardgame-double-border: 2px solid black;
}


.auction-leader-color-span{
    color: var(--auction-leader-color);
}

div {
    font-size: 1.3vh;
}

button {
    font-family: 'roboto';
    text-align: center;
    cursor: pointer;
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
    border-top-left-radius: 1vh;
    border-bottom-left-radius: 1vh;
    background-color: rgb(29, 143, 181);
    color: antiquewhite;
    transition: background-color 0.3s ease;
    font-size: 3vh;
}


button:hover{
    opacity: .7;
}

button:active
{
    background-color: rgb(4, 52, 68); 
}

#gameboard{
    background-color: black;
}

/* Top Grid */
/* Top Grid */
.top-grid{
    display: grid;
    grid-template-rows: 12.5vh;
    grid-template-columns: 12.5vh repeat(9, 8.33333vh) 12.5vh;
    rotate: 180deg;
}
.middle-grid{
    display: grid;
    grid-template-columns: repeat(8, 12.5vh);
    grid-template-rows: repeat(9, 8.33333vh);


}
.bottom-grid{
    display: grid;
    grid-template-rows: 12.5vh;
    grid-template-columns: 12.5vh repeat(9, 8.33333vh) 12.5vh;

}

.top-property-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    background-color: white;
    position: relative;
}

.top-price-padding{
    padding-bottom: 1vh;
}

.top-name-padding{
    padding-top: 1vh;
}

.top-chance-margin{
    margin-top: .5vh;
}

/* Middle Grid */
/* Middle Grid */


/* Middle Left Grid */

.left-middle-square{
    display: flex;
    flex-direction: column-reverse;
    writing-mode: vertical-rl;
    justify-content: space-between;
    background-color: white;
    position: relative;
}

.left-price-padding{
    padding-left: 1vh;
}

.left-name-padding{
    padding-right: 1vh;
}

.left-middle-svg, .right-middle-svg{
    display: flex;
    align-self: center;
}


.left-svg-rotate{
    transform: rotate(90deg);
}

/* Middle Right Grid */

.right-middle-square{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    writing-mode: vertical-rl;
    rotate: 180deg;
    background-color: white;
    gap: 1px;
    position: relative;
}

.right-price-padding{
    padding-left: 1vh;
}

.right-name-padding{
    padding-right: 1vh;
}

.right-svg-rotate{
    transform: rotate(90deg);
}

.right-chance-padding{
    padding-left: 2vh;
}

.right-chest-padding{
    padding-left: .7vh;
}


/* Bottom Grid */
/* Bottom Grid */



.bottom-property-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    background-color: white;
    position: relative;
}
     

.bottom-name-padding{
    padding-top: 1vh;
}

.bottom-price-padding{
    padding-bottom: 1vh;
}

.bottom-svg-padding{
    padding-bottom: .5vh;
}

/* Boarder By Location */

.top-board-border{
    border-top: var(--boardgame-double-border);
    border-bottom: var(--boardgame-double-border);
    border-left: var(--boardgame-single-border);
    border-right: var(--boardgame-single-border);
}

.middle-board-border{
    border-top: var(--boardgame-single-border);
    border-bottom: var(--boardgame-single-border);
    border-right: var(--boardgame-double-border);
    border-left: var(--boardgame-double-border);
}

/* Board Spaces By Color */
.brown-property{
    border-top: 1.75vh solid #5f2256;
}

.light-blue-property{
    border-top: 1.75vh solid #add8e6;
}

.purple-property{
    border-right: 1.75vh solid #b420b4;
}
.orange-property {
    border-right: 1.75vh solid #ffa500;
}

.red-property {
    border-top: 1.75vh solid #f76969;
}

.yellow-property {
    border-top: 1.75vh solid #ffff00;
}

.green-property {
    border-right: 1.75vh solid #4a6f4a;
}

.dark-blue-property{
    border-right: 1.75vh solid #232388;
}


/* Corner Square ID's */
#freeParkingId{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: var(--boardgame-single-border);
    border-bottom: var(--boardgame-double-border);
    border-left: var(--boardgame-single-border);
    border-right: var(--boardgame-double-border);
    background-color: white;
    position: relative;
    
}

.free-parking-span{
    display: grid;
    rotate: 315deg;
    font-size: 2vh;
    margin: 0 .5vh 1.25vh 0;
}

#goJailId{  
    display: grid;
    border-top: var(--boardgame-single-border);
    border-bottom: var(--boardgame-double-border);
    border-left: var(--boardgame-double-border);
    border-right: var(--boardgame-single-border);
    background-color: white;
}

.go-jail-span{
    font-size: 2vh;
    display: grid;
    text-align: center;
    transform: rotate(45deg);
}

#inJailId{
    position: relative;
}

#justVisitingId{
    display: grid;
    grid-template-rows: 2.75fr 1.25fr;
    grid-template-columns: 1.25fr 2.75fr;
    border-top: var(--boardgame-single-border);
    border-bottom: var(--boardgame-double-border);
    border-left: var(--boardgame-double-border);
    border-right: var(--boardgame-single-border);
    background-color: white;
    position: relative;

}

.just-space{
    display: flex;
    writing-mode: vertical-lr;
    align-items: flex-end;
    font-size: 2.1vh; 
}

.just-padding{
    margin: auto;
}

.in-jail-space{
    display: flex;
    background-color: rgb(255, 193, 77);
    justify-content: center;
    align-items: center;
}

.visiting-space{
    font-size: 2.1vh;
    margin: auto;
    grid-column: 2/3;
}

#startId{
    display: flex;
    flex-direction: column;
    border-top: var(--boardgame-single-border);
    border-left: var(--boardgame-single-border);
    border-bottom:var(--boardgame-double-border);
    border-right: var(--boardgame-double-border);
    position: relative;
    background-color: white;
}

.start-span{
    margin-bottom: 3vh;
    width: 12vh;
    height: 12vh;
    align-content: center;
    transform: rotate(315deg);
}

.go-span{
    font-size: 6vh;
    font-weight:bolder;
    color:black;
}


/* SVG Classes*/
svg{
    justify-self: center;
}

.free-parking-svg{
    height: 6vh;
}

.chance-svg{
    height: 7vh;
}

.top-train-svg{
    height: 3vh;
}

.middle-train-svg{
    height: 3vh;
}

.faucet-svg{
    height: 4vh;
}

.go-jail-svg{
    height: 7vh;
}

.light-svg{
    height: 3.5vh;
}

.community-chest-svg{
    width: 5vh;
}

.jewel-svg{
    width: 4vh;
}

.diamond-svg{
    width: 2.5vh;
}

.prisoner-svg{
    display: flex;
    width: 5.9vh;
    height: 5.9vh;
    transform: rotate(45deg);
}

.arrow-line{
    width: 8.75vh;
    position: absolute;
    bottom: 1.5vh;
    left: 1.45vh;
    border-top: .5vh solid red;
    border-top-right-radius: .5vh;
    border-bottom-right-radius: .5vh;
    border-top-left-radius: .5vh;
    border-bottom-left-radius: .5vh;
}

.arrow-line::before{
    position: absolute;
    content: "";
    background-color: red;
    width: 1.65vh;
    height: .5vh;
    left: -.35vh;
    bottom: .4vh;
    border-top-right-radius: 1vh;
    border-top-left-radius: .5vh;
    border-bottom-left-radius: .5vh;
    transform: rotate(135deg);
}

.arrow-line::after{
    position: absolute;
    content: "";
    background-color: red;
    width: 1.65vh;
    height: .5vh;
    left: -.35vh;
    bottom: -.4vh;
    border-top-left-radius: 1vh;
    border-bottom-right-radius: .5vh;
    border-top-right-radius: .5vh;
    transform: rotate(45deg);
}

.game-pieces{
    position: absolute;
    z-index: 1;
}

.svg-game-pieces{
    width: 3.5vh;
    height: 3.5vh;
}

#hotelPieceId{
    position: absolute;
    z-index: 1;
    justify-self: flex-start;
    align-self: flex-start;
    width: 1.7vh;
}

#housePieceId{
    position: absolute;
    z-index: 1;
    width: 1.75vh;
    height: 1.75vh;
}

/* Floating Screen Classes*/
/* Floating Screen Classes*/
/* Floating Screen Classes*/

.action-display-screen{
    display: flex;
    grid-column: 2/8;
    grid-row: 1/10;
    justify-self: center;
    align-self: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 2vh;
}

.float-screen-title {
    margin: auto;

}

#playBtnId{
    margin: auto;
    width: 60vh;
    height: 20vh;   
    color: antiquewhite;
    font-size: 10vh;
}

.float-screen-players{
    display: grid;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.amount-players-prompt{
    grid-column: 1/4;
    font-size: 9vh;
}


.float-screen-piece-selection{
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 3vh;
}

.choose-piece-h1{
    grid-column: 1/5;
    font-size: 6.5vh;
}

.piece-selection-svg{
    height: 75%;
    width: 75%;
}

.choose-player-amount-buttons{
    width: 16vh;
    height: 12vh;
    font-size: 6.5vh;
}

.choose-piece-button{
    background-color: whitesmoke;
    width: 12vh;
    height: 12vh;;
}

.float-screen-game{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.float-screen-game-left, .float-screen-game-middle, .float-screen-game-right{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.float-screen-game-left-top{
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: .25vh;
}

.player-total-cash{
    font-size: 2.4vh;
}

.float-screen-game-left-bottom{
    display: flex;
}

.house-hotel-mortgage-screen{
    display: grid;
    grid-template-rows: auto auto auto auto 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: .25vh;
}

#houseHotelBtnLabelId, #mortgageBtnLabelId, .property-button-label{
    grid-column: 1/3;
    font-size: 3vh;
}

.house-hotel-mortgage-btns-label{
    padding-bottom: 1.5vh;
}

.house-hotel-mortgage-btns{
    width: 8vh;
    height: 5.5vh;
    font-size: 2.5vh;
}

.trade-button{
    height: 5.5vh;
    width: 10vh;
    grid-column: 1/3;
    font-size: 2.5vh;
}

.house-hotel-mortgage-btns-label{
    font-size: 3vh;
    display: flex;
    grid-column: 1/3;
}

.color-property-card, .railroad-property-card, .utility-property-card{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

#colorPropertyName, #railroadPropertyName, #utilityPropertyName{
    font-size: 2.6vh;
    font-weight:bold;
}

#colorPropertyRent, #colorPropertyOneHouse, #colorPropertyTwoHouse, #colorPropertyThreeHouse, #colorPropertyFourHouse,
 #colorPropertyHotelRent, #colorPropertyHouseCost, #colorPropertyHotelCost, #colorPropertyMortgage{
    font-size: 1.9vh;
}

.railroad-inner-text, .utility-inner-text{
    font-size: 2.2vh;
}

#utilityPropertyOneOwned, #utilityPropertyTwoOwned{
    text-wrap: wrap;
}

.float-screen-game-middle-top-contents{
    font-size: 1.9vh;
    font-weight: 100;
}

#playerTurnNameId{
    font-size: 4vh;
    font-weight: bold;
    margin-bottom: .5vh;
}

.float-screen-game-middle-bottom-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.property-for-purchase-grid{
    justify-content: center;
    align-items: center;
}

.purchase-property-container{
    display: flex;
}

.purchase-property-button{
    width: 10vh;
    height: 6vh;
    font-size: 2.6vh;
}

#buyPropertyYesBtn{
    width: 8vh;
}

#wouldYouLikeToBuyId{
    display: flex;
    font-size: 2.5vh;
    padding-bottom: 1vh;
}

.turn-interaction-description{
    display: inline-block;
    align-self:center;
    justify-self: center;
    font-size: 3vh;
}

.purchase-property-container{
    display: flex;
    justify-content: space-around;
}


.right-top-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
}

.right-bottom-screen{
    display: flex;
    justify-content: center;
    align-items: center;

}

.pay-rent-container{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    row-gap: 1vh;
    column-gap: 1vh;
}

.pay-rent-tutorial{
    font-size: 3vh;
}

#payRentBtnId{
    justify-self: flex-end;
}

#sellToPayRentBtnId{
    justify-self: flex-start;
}

#payRentLabelId{
    font-size: 2.6vh;
    grid-column: 1/3;
}

#bankruptBtnId{
    font-size: 2.4vh;
    grid-column: 1/3;
    width: 17vh;
    height: 5vh;
}

.bankrupt-warning-container{
    display: grid;
    justify-items: center;
    align-items: flex-end;
}

.bankrupt-warning-text{
    grid-column: 1/3;
    font-size: 2.3vh;
    padding-bottom: 1vh;
}

.bankrupt-inform-container{
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center;
}

#goodbyeTextId{
    font-size: 2.5vh;
    padding-bottom: .5vh;
}

#goodbyeBtnId{
    width: 14vh;
    height: 8vh;
}

.roll-button{
    align-self:center;
    justify-self: center;
    width: 14vh;
    height: 8vh;
    font-size: 3.5vh;
    text-decoration: none;
}

.in-jail-options-screen{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1vh;
}

.jail-buttons{
    margin: auto;
    width: 75%;
    height: 8vh;
}

.end-turn-button{
    align-self:center;
    justify-self: center;
    width: 14vh;
    height: 6vh;
    font-size: 3vh;
}

.enlarge-font-span{
    font-size: 1.25em ;
}

.bold-font-span{
    font-weight: bold;
}


.can-select-property:hover{
    cursor: pointer;
}

.can-select-property:active{
    opacity: .7;
}

.can-select-property-bottom{
    animation: bounceBottom 0.5s infinite alternate;
    }

    @keyframes bounceBottom {
        from{
            transform: translateY(-5px);
        }
        to{
            transform: translatey(0);
        }
    }

.can-select-property-left{
    animation: bounceLeft 0.5s infinite alternate;
    }

    @keyframes bounceLeft {
        from{
            transform: translateX(5px);
        }
        to{
            transform: translateX(0);
        }
    }

.can-select-property-top{
    animation: bounceTop 0.5s infinite alternate;
    }

    @keyframes bounceTop {
        from{
            transform: translateY(5px);
        }
        to{
            transform: translateY(0);
        }
    } 
    
.can-select-property-right{
    animation: bounceRight 0.5s infinite alternate;
    }

    @keyframes bounceRight {
        from{
            transform: translateX(5px);
        }
        to{
            transform: translateX(0);
        }
    }

.mortgaged{
    background: repeating-linear-gradient(
        45deg,
        #d3d3d3,
        transparent 2vh,
        #d3d3d3 2vh,
        transparent 2vh
    );
}

.disable-clicks{
    pointer-events: none;
    background: repeat-
}

.button-inactive{
    cursor: default;
    background-color: #75abbd;
}

.button-inactive:hover{
    opacity: 1;
    background-color: #75abbd;
}

.button-inactive{
    background-color: #75abbd;
}

.auction-button-inactive{
    cursor: default;
}

.auction-button-inactive:hover{
    opacity: 1;
}

.auction-screen-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-items: center;
}

.auction-individual-player-container{
    display: grid;
    grid-template-rows: auto auto auto;
    justify-items: center;
    align-content: start;
}

#auctionOriginalPriceId, #auctionBidPriceId{
    font-size: 3.5vh;
}

#auctioneerTextId{
    font-size: 3vh;
}

#auctionBidPriceId{
padding-top: 1.5vh;
}

#auctionOriginalPriceId, #auctionBidPriceId{
    padding-bottom: 1.5vh;
}

.player-auction-nameplate{
    font-size: 3.5vh;
    padding-top: .5vh;
    font-weight: bolder;
}

.player-auction-btns{
    padding-top: .5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.auction-btn{
    width: 7vh;
    height: 5vh;
    margin: .5vh;
    font-size: 2.5vh;
}

.player-auction-cash{
    font-size: 2.5vh;
}

.auction-property-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#currentBidSpanId{
    font-size: 4vh
}

.trade-screen-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    align-items: center;
    row-gap: 1.5vh;
    column-gap: 2vh;
}

#tradeScreenTutorialId{
    grid-column: 1/3;
    font-size: 2vh;
}

.trade-screen-players-trading{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/3;
    margin: 1vh;

}

.players-trading-names{
    font-size: 3.5vh;
}

.trade-screen-contents{
    display: grid;
    grid-template-rows:  1fr auto;
    align-content: space-between;
    justify-content: center;
}

.property-dropoff-container{
    display: grid;
    align-content: center;
    grid-template-columns: repeat(3, 10vh);
    grid-template-rows: repeat(3, 12.5vh);
    column-gap: .5vh;
    row-gap: .5vh;
}

.dollar-sign{
    font-size: 3vh;
    color:rgb(250, 235, 215);
    background-color: #888;
    align-content: center;
}

.cash-input-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
}

.cash-offer{
    align-self: center;
    font-size: 3vh;
    grid-column: 1/4;
}

input {
    text-align: left;
    border: 2px solid #ccc;
    padding: 1vh;
    font-size: 3vh;
    width: 100%;
}

input:hover {
    border-color: #888;
}
input:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input::placeholder{
    font-size: 2.5vh;
}

.cash-add-button{
    font-size: 2vh;
    width: 5vh;
    border-radius: 0px;
    background-color: #888;
}

.trade-screen-player-options{
    display: flex;
    grid-column: 1/3;
    align-content: start;
    gap: 1px;
    height: 100%;
    width: 100%;
}

.green-border{
    box-shadow: 0 0 1vh rgb(5, 255, 76);
}

.red-border{
    box-shadow: 0 0 1vh rgb(255, 0, 0);
}

.trade-property-card{
    border: 1px solid black;
}

.trade-property-name{
    padding-top: .5vh;
    border-top: .75rem solid black;
    font-size: 1.55vh;
    
}

.trade-partner-button{
   margin: 0 auto;
   width: 16vh;
   height: 12vh;
   font-size: 3.7vh;
}

.trade-offer-decline-container{
    display: grid;
    width: 100%;
    grid-column: 1/3;
    grid-template-columns:  1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.trade-cancel-button, .trade-offer-decline-buttons{
    height: 8vh;
    width: 12vh;
    font-size: 3vh;
}

.trade-cancel-button{
    grid-column: 2/3;
}

.accept-decline-trade-container{
    grid-column: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}


#gameOverText{
    font-size: 5vh;
}

.game-over-screen{
    margin: auto;
}

@media (max-aspect-ratio: 1/1) {
    div {
        font-size: 1.3vw;
    }
    
    button {
        border-top-right-radius: 1vw;
        border-bottom-right-radius: 1vw;
        border-top-left-radius: 1vw;
        border-bottom-left-radius: 1vw;
        font-size: 3vw;
    }

    
    /* Top Grid */
    /* Top Grid */
    .top-grid{
        grid-template-rows: 12.5vw;
        grid-template-columns: 12.5vw repeat(9, 8.33333vw) 12.5vw;
    }
    .middle-grid{
        grid-template-columns: repeat(8, 12.5vw);
        grid-template-rows: repeat(9, 8.33333vw);
    }
    .bottom-grid{
        grid-template-rows: 12.5vw;
        grid-template-columns: 12.5vw repeat(9, 8.33333vw) 12.5vw;
    }
    
    .top-price-padding{
        padding-bottom: 1vw;
    }
    
    .top-name-padding{
        padding-top: 1vw;
    }
    
    .top-chance-margin{
        margin-top: .5vw;
    }
    
    /* Middle Grid */
    /* Middle Grid */
    
    
    /* Middle Left Grid */
    
    
    .left-price-padding{
        padding-left: 1vw;
    }
    
    .left-name-padding{
        padding-right: 1vw;
    }
    

    /* Middle Right Grid */
        
    .right-price-padding{
        padding-left: 1vw;
    }
    
    .right-name-padding{
        padding-right: 1vw;
    }
    
    
    .right-chance-padding{
        padding-left: 2vw;
    }
    
    .right-chest-padding{
        padding-left: .7vw;
    }
    
    /* Bottom Grid */
    /* Bottom Grid */
    
    .bottom-name-padding{
        padding-top: 1vw;
    }
    
    .bottom-price-padding{
        padding-bottom: 1vw;
    }
    
    .bottom-svg-padding{
        padding-bottom: .5vw;
    }
    
    /* Board Spaces By Color */
    .brown-property{
        border-top: 1.75vw solid #5f2256;
    }
    
    .light-blue-property{
        border-top: 1.75vw solid #add8e6;
    }
    
    .purple-property{
        border-right: 1.75vw solid #b420b4;
    }
    .orange-property {
        border-right: 1.75vw solid #ffa500;
    }
    
    .red-property {
        border-top: 1.75vw solid #f76969;
    }
    
    .yellow-property {
        border-top: 1.75vw solid #ffff00;
    }
    
    .green-property {
        border-right: 1.75vw solid #4a6f4a;
    }
    
    .dark-blue-property{
        border-right: 1.75vw solid #232388;
    }
    
    
    /* Corner Square ID's */
    
    .free-parking-span{
        font-size: 2vw;
        margin: 0 .5vw 1.25vw 0;
    }
    
    .go-jail-span{
        font-size: 2vw;
    }
    
    
    #justVisitingId{
        grid-template-rows: 2.75fr 1.25fr;
        grid-template-columns: 1.25fr 2.75fr;
    
    }
    
    .just-space{
        font-size: 2.1vw; 
    }
    
    
    .visiting-space{
        font-size: 2.1vw;
    }
    

    .start-span{
        margin-bottom: 3vw;
        width: 12vw;
        height: 12vw;
    }
    
    .go-span{
        font-size: 6vw;
    }
    
    
    /* SVG Classes*/    
    .free-parking-svg{
        height: 6vw;
    }
    
    .chance-svg{
        height: 7vw;
    }
    
    .top-train-svg{
        height: 3vw;
    }
    
    .middle-train-svg{
        height: 3vw;
    }
    
    .faucet-svg{
        height: 4vw;
    }
    
    .go-jail-svg{
        height: 7vw;
    }
    
    .light-svg{
        height: 3.5vw;
    }
    
    .community-chest-svg{
        width: 5vw;
    }
    
    .jewel-svg{
        width: 4vw;
    }
    
    .diamond-svg{
        width: 2.5vw;
    }
    
    .prisoner-svg{
        width: 5.9vw;
        height: 5.9vw;
    }
    
    .arrow-line{
        width: 8.75vw;
        bottom: 1.5vw;
        left: 1.45vw;
        border-top: .5vw solid red;
        border-top-right-radius: .5vw;
        border-bottom-right-radius: .5vw;
        border-top-left-radius: .5vw;
        border-bottom-left-radius: .5vw;
    }
    
    .arrow-line::before{
        background-color: red;
        width: 1.65vw;
        height: .5vw;
        left: -.35vw;
        bottom: .4vw;
        border-top-right-radius: 1vw;
        border-top-left-radius: .5vw;
        border-bottom-left-radius: .5vw;
    }
    
    .arrow-line::after{
        width: 1.65vw;
        height: .5vw;
        left: -.35vw;
        bottom: -.4vw;
        border-top-left-radius: 1vw;
        border-bottom-right-radius: .5vw;
        border-top-right-radius: .5vw;
    }

    .svg-game-pieces{
        width: 3.5vw;
        height: 3.5vw;
    }
    
    #hotelPieceId{
        width: 1.7vw;
    }
    
    #housePieceId{
        width: 1.75vw;
        height: 1.75vw;
    }
    
    /* Floating Screen Classes*/
    /* Floating Screen Classes*/
    /* Floating Screen Classes*/
    
    .action-display-screen{
        padding: 2vw;
    }
    
    #playBtnId{
        width: 60vw;
        height: 20vw;   
        font-size: 10vw;
    }

    
    .amount-players-prompt{
        font-size: 9vw;
    }
    
    
    .float-screen-piece-selection{
        gap: 3vw;
    }
    
    .choose-piece-h1{
        font-size: 6.5vw;
    }
    
    .piece-selection-svg{
        height: 75%;
        width: 75%;
    }
    
    .choose-player-amount-buttons{
        width: 16vw;
        height: 12vw;
        font-size: 6.5vw;
    }
    
    .choose-piece-button{
        width: 12vw;
        height: 12vw;;
    }
    
    
    .float-screen-game-left, .float-screen-game-middle, .float-screen-game-right{
        row-gap: 2vw;
    }
    
    .float-screen-game-left-top{
        row-gap: .25vw;
    }
    
    .player-total-cash{
        font-size: 2.4vw;
    }
    
    
    .house-hotel-mortgage-screen{
        gap: .25vw;
    }
    
    #houseHotelBtnLabelId, #mortgageBtnLabelId, .property-button-label{
        font-size: 3vw;
    }
    
    .house-hotel-mortgage-btns-label{
        padding-bottom: 1.5vw;
    }
    
    .house-hotel-mortgage-btns{
        width: 8vw;
        height: 5.5vw;
        font-size: 2.5vw;
    }
    
    .trade-button{
        height: 5.5vw;
        width: 10vw;
        font-size: 2.5vw;
    }
    
    .house-hotel-mortgage-btns-label{
        font-size: 3vw;
    }
    
    #colorPropertyName, #railroadPropertyName, #utilityPropertyName{
        font-size: 2.6vw;
    }
    
    #colorPropertyRent, #colorPropertyOneHouse, #colorPropertyTwoHouse, #colorPropertyThreeHouse, #colorPropertyFourHouse,
     #colorPropertyHotelRent, #colorPropertyHouseCost, #colorPropertyHotelCost, #colorPropertyMortgage{
        font-size: 1.9vw;
    }
    
    .railroad-inner-text, .utility-inner-text{
        font-size: 2.2vw;
    }
    
    .float-screen-game-middle-top-contents{
        font-size: 1.9vw;
    }
    
    #playerTurnNameId{
        font-size: 4vw;
        margin-bottom: .5vw;
    }
    
    .purchase-property-button{
        width: 10vw;
        height: 6vw;
        font-size: 2.6vw;
    }
    
    #buyPropertyYesBtn{
        width: 8vw;
    }
    
    #wouldYouLikeToBuyId{
        font-size: 2.5vw;
        padding-bottom: 1vw;
    }
    
    .turn-interaction-description{
        font-size: 3vw;
    }
    
    
    .right-top-screen{
        font-size: 2vw;
    }
    
    .pay-rent-container{
        row-gap: 1vw;
        column-gap: 1vw;
    }
    
    .pay-rent-tutorial{
        font-size: 3vw;
    }
    
    #payRentLabelId{
        font-size: 2.6vw;
    }
    
    #bankruptBtnId{
        font-size: 2.4vw;
        width: 17vw;
        height: 5vw;
    }
    
    
    .bankrupt-warning-text{
        font-size: 2.3vw;
        padding-bottom: 1vw;
    }
    
    
    #goodbyeTextId{
        font-size: 2.5vw;
        padding-bottom: .5vw;
    }
    
    #goodbyeBtnId{
        width: 14vw;
        height: 8vw;
    }
    
    .roll-button{
        width: 14vw;
        height: 8vw;
        font-size: 3.5vw;
    }
    
    .in-jail-options-screen{
        row-gap: 1vw;
    }
    
    .jail-buttons{
        height: 8vw;
    }
    
    .end-turn-button{
        width: 14vw;
        height: 6vw;
        font-size: 3vw;
    }
    
    .enlarge-font-span{
        font-size: 1.25em ;
    }
    
    
    .mortgaged{
        background: repeating-linear-gradient(
            45deg,
            #d3d3d3,
            transparent 2vw,
            #d3d3d3 2vw,
            transparent 2vw
        );
    }
    
    
    #auctionOriginalPriceId, #auctionBidPriceId{
        font-size: 3.5vw;
    }
    
    #auctioneerTextId{
        font-size: 3vw;
    }
    
    #auctionBidPriceId{
        padding-top: 1.5vw;
    }
    
    #auctionOriginalPriceId, #auctionBidPriceId{
        padding-bottom: 1.5vw;
    }
    
    .player-auction-nameplate{
        font-size: 3.5vw;
        padding-top: .5vw;
    }
    
    .player-auction-btns{
        padding-top: .5vw;
    }
    
    .auction-btn{
        width: 7vw;
        height: 5vw;
        margin: .5vw;
        font-size: 2.5vw;
    }
    
    .player-auction-cash{
        font-size: 2.5vw;
    }
    
    #currentBidSpanId{
        font-size: 4vw
    }
    
    .trade-screen-container{
        row-gap: 1.5vw;
        column-gap: 2vw;
    }
    
    #tradeScreenTutorialId{
        font-size: 2vw;
    }
    
    .trade-screen-players-trading{
        margin: 1vw;
    }
    
    .players-trading-names{
        font-size: 3.5vw;
    }
    
    .property-dropoff-container{
        grid-template-columns: repeat(3, 10vw);
        grid-template-rows: repeat(3, 12.5vw);
        column-gap: .5vw;
        row-gap: .5vw;
    }
    
    .dollar-sign{
        font-size: 3vw;
    }
    
    .cash-offer{
        font-size: 3vw;
    }
    
    input {
        padding: 1vw;
        font-size: 3vw;
    }
    
    input::placeholder{
        font-size: 2.5vw;
    }
    
    .cash-add-button{
        font-size: 2vw;
        width: 5vw;
    }

    
    .trade-property-name{
        padding-top: .5vw;
        font-size: 1.55vw;        
    }
    
    .trade-partner-button{
       width: 16vw;
       height: 12vw;
       font-size: 3.7vw;
    }
    
    .trade-cancel-button, .trade-offer-decline-buttons{
        height: 8vw;
        width: 12vw;
        font-size: 3vw;
    }

    #gameOverText{
        font-size: 5vw;
    }
    
    
}

.hidden {
    display: none;
}
